/*------------------------------------------------------------------
[Table of Contents]
    + General
        - Common CSS
        - Color CSS
        - Button CSS
    + Header
        - Nav Style 1
------------------------------------------------------------------*/

/* [ General ] */
/*================================================== */

/*** Common CSS ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/*** Color CSS ***/
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

/*** Button CSS ***/
.btn-primary {
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    color: #FFF;
    padding: 18px 35px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* [ Header ] */
/*================================================== */

/*** Nav Style 1 ***/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li:not(:last-child) {
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}